html,
body {
  background: whitesmoke;
  font-family: 'Lora', serif;
}

a {
  color: royalblue;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

a:hover {
  color: mediumslateblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
