.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: -16.67vh;
  min-height: 100vh;
  padding: 16px;
}

.stack1 > * + * {
  margin-top: 32px;
}

.headline {
  font-size: 40px;
  font-weight: 600;
}

.subheader {
  font-weight: 400;
}

.category {
  font-size: 32px;
  font-weight: 400;
}

.stack2 > * + * {
  margin-top: 16px;
}

.stack2 > * + * {
  margin-top: 8px;
}

.list {
  list-style: none;
}

.listItem {
  color: royalblue;
  font-size: 16px;
  font-weight: 500;
  transition: color 200ms ease-in-out;
}

.listItem:hover {
  color: mediumslateblue;
}
